@import url("http://fonts.cdnfonts.com/css/recoleta");
@import url("http://fonts.cdnfonts.com/css/cera-pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f3f4;
}

header {
  height: 360px;
  width: 100%;
}

/* image style */
.heading-img {
  background-image: url("./assets/Rectangle\ 13@3x.png");
  background-size: cover;
  height: 270px;
  width: 100%;
}

.flag{
  position: relative;
  top: -25px;
}

/* section style */
.auth-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 720px;
  margin-top: -7rem;
  padding: 2.5rem 1rem 1.5rem;
}

/* Titles */
.auth-title {
  text-align: center;
}

.title {
  font-family: "Recoleta", sans-serif;
  font-size: 2.5rem;
  font-weight: 500px;
}

.subtitle {
  font-size: 1.2rem;
  font-family: "Cera Pro", sans-serif;
  font-weight: normal;
}

/* Phone number input */
.num-btn {
  padding: 16px 16px 16px;
  background: #fff;
  border: 1px solid #e1e2e3;
  border-radius: 8px;
  width: 100%;
  height: 52px;
  margin: 25px;
}

.input {
  font-size: 1rem;
  box-shadow: none;
  appearance: none;
  border: none;
  resize: none;
  width: 100%;
  font-family: Cera pro;
  line-height: 20px;
  font-weight: normal;
  color: #b3b5ba;
  text-align: center;
}

/* Button Style */

.button {
  width: 100%;
  height: 48px;
  background: #ff8527;
  border-radius: 8px;
  padding: 14px 16px;
  text-align: center;
}

.btn {
  background: #ff8527;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: Cera pro;
  line-height: 20px;
  font-weight: 500px;
  font-style: normal;
  letter-spacing: 2px;
}

/* OR style */
.spaces {
  margin: 30px 0px 12px;
}
.line {
  color: #b3b5ba;
}
/* Icons section */
.icons {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.box,
.box2,
.box3 {
  background: #fff;
  border: 1px solid #03070c;
  border-radius: 8px;
}

h5 {
  font-family: Cera pro;
  line-height: 20px;
  font-weight: normal;
  font-size: 16px;
}

/* Condition section  */

.condition {
  margin: 40px 0px;
  text-align: center;
}

p {
  font-family: Cera pro;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
}
